
table tr {
  counter-increment: rowNumber;
}
table tr td:first-child::before {
  content: counter(rowNumber);
}

#col{
  columns: 3;
  list-style-type: none;
}

.divider{
  margin-top: 10px;
}

h4{
  margin-top: 30px;
  margin-bottom: 30px;
}

h5{
  margin-left: 40px;
}

.panel {
  margin-left: 30px;
}

 
