{% extends 'base.html' %}
<head>
{% block title %}{{movie.title}}{% endblock %}
</head>

<body>
{% block body %}
<div class="container">
<h2>{{movie.title}} </h2>
<h4> avgerage rating: {{avg_rating|floatformat:"2"}}</h4>

 <ul>{% for each in genres_list %}
    <li>{{ each }}</li>
  {% endfor %}</ul>

 <h4>Ratings:</h4>
  <ul>
    <li class="dropdown">
      <a href="#" data-toggle="dropdown"> Five <i class="caret"></i></a>
      <ul class="dropdown-menu">{% for rating in movie.rating_set.all %}
        <li><a/ href="{% url 'movieratings:rater_detail' movie.id %}"> {{ rating.rater.id}}</a></li>
        {% endfor %}</ul>
 </div>


 <ul>{% for rating in movie.rating_set.all %}
     <li><a href="{% url 'movieratings:rater_detail' rating.rater.id %}">User # {{rating.rater.id}} gave this movie a: {{rating.score}}</a></li>
     {% endfor %}</ul>
</div>
</body>
{% endblock %}
