{% extends 'base.html' %}
<head>
{% block title %}{{movie.title}}{% endblock %}
</head>

<body>
{% block body %}
<div class="container">
<h2>{{movie.title}} </h2>
<h4> avgerage rating: {{avg_rating|floatformat:"2"}}</h4>

 <ul>{% for each in genres_list %}
    <li>{{ each }}</li>
  {% endfor %}</ul>

 <h4>Ratings:</h4>
 <div class="btn-group">
   <a href="#" class="activecs"> Five <span class="badge"> {{ five }} </span></a>
   <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
   <ul class="dropdown-menu">
     <li><a href="#">Action</a></li>
   </ul>
 </div>
 <div class="btn-group">
   <a href="#" class="active"> Four  <span class="badge"> {{ four }} </span></a>
   <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
   <ul class="dropdown-menu"><li><a href="#">Action</a></li>
   </ul>
 </div>
 <div class="btn-group">
   <a href="#" class="active"> Three  <span class="badge"> {{ three }} </span></a>
   <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
   <ul class="dropdown-menu">
     <li><a href="#">Action</a></li>
   </ul>
 </div>
 <div class="btn-group">
   <a href="#" class="active"> Two  <span class="badge"> {{ two }} </span></a>
   <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
   <ul class="dropdown-menu">
     <li><a href="#">Action</a></li>
   </ul>
 </div>
 <div class="btn-group">
   <a href="#" class="active"> One  <span class="badge"> {{ one }} </span></a>
   <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
   <ul class="dropdown-menu">
     <li><a href="#">Action</a></li>
   </ul>
 </div>


 <ul>{% for rating in movie.rating_set.all %}
     <li>User # {{rating.rater.id}} gave this movie a: {{rating.score}}</li>
     {% endfor %}</ul>
</div>
</body>
{% endblock %}
